HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignorar arquivos do banco de dados SQLite
*.db
*.sqlite
*.sqlite3

# (Opcional) Ignorar arquivos temporários que o SQLite cria quando está aberto
*.db-journal
*.db-shm
*.db-wal

GEMINI.md
LOG.md
LOG_CODEX.md